@mixin clearFix(){
  content: '';
  position: relative;
  clear: both;
  display: block;
}
.clearFix{
  zoom: 1;
}

.clearFix:after{
  @include clearFix();
}

.fl{
  float: left;
}
.fr{
  float: right;
}
